# list or dictionary or tuples comprehension
- comprehension: reduce the number of line in a program

In [1]:
n=int(input())
for i  in range(n):
    print(i)

10
0
1
2
3
4
5
6
7
8
9

In [2]:
num=[i for i in range(int(input()))]

5

In [3]:
num

[0, 1, 2, 3, 4]

In [3]:
nums=[i**2 for i in range(int(input()))]

9

In [4]:
nums

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [5]:
[i**2 for i in range(int(input()))]

9

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [3]:
[i for i in range((int(input("enter starting range range(must be even)"))),(int(input("enter ending range"))),2)] # range(2,10,2)

enter starting range range(must be even)2
enter ending range10

[2, 4, 6, 8]

In [4]:
[i for i in range((int(input("enter starting range range(must be odd)"))),(int(input("enter ending range"))),2)]

enter starting range range(must be odd)1
enter ending range9

[1, 3, 5, 7]

In [9]:
print([i for i in range(100) if i%2==0])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [10]:
print([i for i in range(100) if i%2!=0])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [17]:
vals= [int(i) for i in input().split()] #coverting set of values into list

 64 2234

In [18]:
vals

[64, 2234]

In [21]:
vals=list(map(int,input().split()))

1 2 3 4 5 6 7 8

In [22]:
vals

[1, 2, 3, 4, 5, 6, 7, 8]

In [23]:
def int1(x):
    return int(x)
vals=list(map(int1,input().split()))

9 99 88 77

In [24]:
vals

[9, 99, 88, 77]

In [35]:
def cube(x):
    return int(x)**3
vals=list(map(cube,input().split()))

1 2 3 4 5 5 6

In [36]:
vals

[1, 8, 27, 64, 125, 125, 216]

In [38]:
def cube(x):
    return int(x)**3
sm=sum(list(map(cube,input().split())))

1 2 3 4 5 5 6

In [39]:
sm

566

In [46]:
sm = sum(list(i for i  in range(1,int(input()))))

9

In [47]:
sm

36

In [49]:
sm = sum(list(i**2 for i  in range(1,int(input()))))

8

In [50]:
sm

140

In [57]:
num=int(input())
[print(num,"x",i,"=",num*i) for i  in range(1,11)]

3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

[None, None, None, None, None, None, None, None, None, None]

In [58]:
nums=list("even" if i%2==0 else "odd" for i in range(1,10))

In [59]:
nums

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [62]:
print("first number is big" if int(input())>int(input()) else "second is big")

2222
1
first number is big

In [69]:
# print 5 multiples in betwween 1 
li =[i for i in range(1,101) if i%5==0]

In [70]:
print(li)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [73]:
li =[i for i in range(1,101) if i%2==0 if i%3==0]

In [74]:
li

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [82]:
li =[(i,j) for i in range(1,3) for j in range(1,6)]

In [83]:
li

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5)]

In [84]:
li =[(i,j) for i in range(1,3) for j in range(1,6) if j%2==0]

In [85]:
li

[(1, 2), (1, 4), (2, 2), (2, 4)]

In [87]:
{k:v  for k,v in enumerate([1,2,3,4,5])}

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5}

In [95]:
key=['name','rollno','age']
values=['pavithra',123,26]
d={k:v for k,v in zip(key,values)}
d

{'name': 'pavithra', 'rollno': 123, 'age': 26}